@charset "utf-8";
/* css fonts */

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 100;
    src: local('AppleSDGothicNeo-Thin');
}
@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 200;
    src: local('AppleSDGothicNeo-UltraLight');
}
@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 300;
    src: local('AppleSDGothicNeo-Light');
}
@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 400;
    src: local('AppleSDGothicNeo-Regular');
}
@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 500;
    src: local('AppleSDGothicNeo-Medium');
}
@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 600;
    src: local('AppleSDGothicNeo-SemiBold');
}
@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 700;
    src: local('AppleSDGothicNeo-Bold');
}



@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: normal;
    src: local('NanumBarunGothic'),
    url('/font/NanumBarunGothic/NanumBarunGothic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/NanumBarunGothic/NanumBarunGothic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: bold;
    src: local('NanumBarunGothicBold'),
    url('/font/NanumBarunGothic/NanumBarunGothicBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/NanumBarunGothic/NanumBarunGothicBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 100;
    src: local('NanumBarunGothic'),
    url('/font/NanumBarunGothic/NanumBarunGothic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/NanumBarunGothic/NanumBarunGothic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('/font/circular/CircularStd-Book.woff') format('woff');
}

.ff_ccl {
    font-family: 'CircularStd';
}

.ff_ccl_h {
    font-family: 'CircularStd';
    font-size: 32px;
}

@media screen and (max-width: 1024px) {
    .ff_ccl_h {
        font-family: 'CircularStd';
        font-size: 20px;
    }
}

@font-face {
    font-family: 'Circular Std Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book Italic'), url('/font/circular/CircularStd-BookItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('/font/circular/CircularStd-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium Italic'), url('/font/circular/CircularStd-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('/font/circular/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold Italic'), url('/font/circular/CircularStd-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black'), url('/font/circular/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black Italic'), url('/font/circular/CircularStd-BlackItalic.woff') format('woff');
}

/* Line */
@font-face {
    font-family: 'Volte';
    font-weight: normal;
    src: url('/font/volte/381F68_0_0.woff2') format('woff2'),url('/font/volte/381F68_0_0.woff') format('woff');
}
/*@font-face {*/
/*    font-family: 'Volte-Semibold';*/
/*    src: url('/font/volte/381F68_0_0.woff2') format('woff2'),url('/font/volte/381F68_0_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-SemiboldItalic';*/
/*    src: url('/font/volte/381F68_9_0.woff2') format('woff2'),url('/font/volte/381F68_9_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-Regular';*/
/*    src: url('/font/volte/381F68_1_0.woff2') format('woff2'),url('/font/volte/381F68_1_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-Light';*/
/*    src: url('/font/volte/381F68_2_0.woff2') format('woff2'),url('/font/volte/381F68_2_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-Medium';*/
/*    src: url('/font/volte/381F68_3_0.woff2') format('woff2'),url('/font/volte/381F68_3_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-Bold';*/
/*    src: url('/font/volte/381F68_4_0.woff2') format('woff2'),url('/font/volte/381F68_4_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-LightItalic';*/
/*    src: url('/font/volte/381F68_5_0.woff2') format('woff2'),url('/font/volte/381F68_5_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-BoldItalic';*/
/*    src: url('/font/volte/381F68_6_0.woff2') format('woff2'),url('/font/volte/381F68_6_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-RegularItalic';*/
/*    src: url('/font/volte/381F68_7_0.woff2') format('woff2'),url('/font/volte/381F68_7_0.woff') format('woff');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Volte-MediumItalic';*/
/*    src: url('/font/volte/381F68_8_0.woff2') format('woff2'),url('/font/volte/381F68_8_0.woff') format('woff');*/
/*}*/

/* css fonts end */

/* maker fonts */
/* ko */
/* google */
/* nanum-gothic-regular - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/nanum-gothic-v14-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/nanum-gothic-v14-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nanum-gothic-800 - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/nanum-gothic-v14-latin_korean-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/nanum-gothic-v14-latin_korean-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-kr-regular - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/noto-sans-kr-v9-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/noto-sans-kr-v9-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-kr-900 - latin_korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/noto-sans-kr-v9-latin_korean-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/noto-sans-kr-v9-latin_korean-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nanum-myeongjo-regular - latin_korean */
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/nanum-myeongjo-v12-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/nanum-myeongjo-v12-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nanum-myeongjo-800 - latin_korean */
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/nanum-myeongjo-v12-latin_korean-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/nanum-myeongjo-v12-latin_korean-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nanum-pen-script-regular - latin_korean */
@font-face {
    font-family: 'Nanum Pen Script';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/nanum-pen-script-v12-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/nanum-pen-script-v12-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* do-hyeon-regular - latin_korean */
@font-face {
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/do-hyeon-v8-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/do-hyeon-v8-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* black-han-sans-regular - latin_korean */
@font-face {
    font-family: 'Black Han Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/black-han-sans-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/black-han-sans-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sunflower-300 - latin_korean */
@font-face {
    font-family: 'Sunflower';
    font-style: normal;
    font-weight: 300;
    src: url('/font/maker/ko/sunflower-v6-latin_korean-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/sunflower-v6-latin_korean-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sunflower-700 - latin_korean */
@font-face {
    font-family: 'Sunflower';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/sunflower-v6-latin_korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/sunflower-v6-latin_korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gaegu-700 - latin_korean */
@font-face {
    font-family: 'Gaegu';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/gaegu-v5-latin_korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/gaegu-v5-latin_korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gaegu-regular - latin_korean */
@font-face {
    font-family: 'Gaegu';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/gaegu-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/gaegu-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* song-myung-regular - latin_korean */
@font-face {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/song-myung-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/song-myung-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jua-regular - latin_korean */
@font-face {
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/jua-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/jua-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* yeon-sung-regular - latin_korean */
@font-face {
    font-family: 'Yeon Sung';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/yeon-sung-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/yeon-sung-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dokdo-regular - latin_korean */
@font-face {
    font-family: 'Dokdo';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/dokdo-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/dokdo-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kirang-haerang-regular - latin_korean */
@font-face {
    font-family: 'Kirang Haerang';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/kirang-haerang-v5-latin_korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/kirang-haerang-v5-latin_korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* 눈누 */
@font-face {
    font-family: 'Binggrae';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/BinggraeII.woff') format('woff');
}

@font-face {
    font-family: 'Binggrae';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/BinggraeII-B.woff') format('woff');
}

@font-face {
    font-family: 'BMHANNA';
    font-style: normal;
    src: url('/font/maker/ko/BMHANNA.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ko/BMHANNA.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
 * Jeju Myeongjo (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Jeju Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format('woff');
}

/*
 * Jeju Hallasan (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Jeju Hallasan';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDMiSaeng';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SunBatang-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SunBatang-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}

@font-face {
    font-family: 'BareunBatang';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFB.woff') format('woff');
}

@font-face {
    font-family: 'headline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/headline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* gothic-a1-500 - korean_latin */
@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ko/gothic-a1-v7-korean_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/gothic-a1-v7-korean_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gothic-a1-800 - korean_latin */
@font-face {
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/ko/gothic-a1-v7-korean_latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/gothic-a1-v7-korean_latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hogook';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HogookStd.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hogook';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HogookBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HogookBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HogookBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'drfont_daraehand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/drfont_daraehand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Busan';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff') format('woff');
}

@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* en */
/* roboto-regular - latin */
/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 100;*/
/*    src: local('Roboto'), local('Roboto-Regular'),*/
/*    url('/font/maker/roboto-v18-latin-300.woff2') format('woff2'), !* Chrome 26+, Opera 23+, Firefox 39+ *! url('/font/maker/roboto-v18-latin-300.woff') format('woff'); !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 200;*/
/*    src: local('Roboto'), local('Roboto-Regular'),*/
/*    url('/font/maker/roboto-v18-latin-300.woff2') format('woff2'), !* Chrome 26+, Opera 23+, Firefox 39+ *! url('/font/maker/roboto-v18-latin-300.woff') format('woff'); !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: local('Roboto'), local('Roboto-Regular'),*/
/*    url('/font/maker/roboto-v18-latin-300.woff2') format('woff2'), !* Chrome 26+, Opera 23+, Firefox 39+ *! url('/font/maker/roboto-v18-latin-300.woff') format('woff'); !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
/*}*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-regular.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-italic.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-700.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-700.woff') format('woff'); /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-700.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-700italic.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/font/maker/roboto-v19-cyrillic_vietnamese_greek_latin-700italic.woff') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/roboto-v18-latin-700italic.woff') format('woff') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/oswald-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/oswald-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-700 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/oswald-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/oswald-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-regular - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/pt-serif-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/pt-serif-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-700 - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/pt-serif-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/pt-serif-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-700italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: url('/font/maker/pt-serif-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/pt-serif-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: url('/font/maker/pt-serif-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/pt-serif-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-regular - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/source-serif-pro-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/source-serif-pro-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-700 - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/source-serif-pro-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/source-serif-pro-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bree-serif-regular - latin */
@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/bree-serif-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/bree-serif-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/lato-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/lato-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('/font/maker/lato-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/lato-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/lato-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/lato-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('/font/maker/lato-v14-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/lato-v14-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* spicy-rice-regular - latin */
@font-face {
    font-family: 'Spicy Rice';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/spicy-rice-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/spicy-rice-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* indie-flower-regular - latin */
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/indie-flower-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/indie-flower-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bangers-regular - latin */
@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/bangers-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/bangers-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sanchez-regular - latin */
@font-face {
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/sanchez-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/sanchez-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sanchez-italic - latin */
@font-face {
    font-family: 'Sanchez';
    font-style: italic;
    font-weight: 400;
    src: url('/font/maker/sanchez-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/sanchez-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* anton-regular - latin */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/anton-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/anton-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lobster-regular - latin */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/lobster-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/lobster-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fjalla-one-regular - latin */
@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/fjalla-one-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/fjalla-one-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/pacifico-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/pacifico-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* abril-fatface-regular - latin */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/abril-fatface-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/abril-fatface-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* righteous-regular - latin */
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/righteous-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/righteous-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* permanent-marker-regular - latin */
@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/permanent-marker-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/permanent-marker-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/kaushan-script-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/kaushan-script-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* archivo-black-regular - latin */
@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/archivo-black-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/archivo-black-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* monoton-regular - latin */
@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/monoton-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/monoton-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* hammersmith-one-regular - latin */
@font-face {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/hammersmith-one-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/hammersmith-one-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ultra-regular - latin */
@font-face {
    font-family: 'Ultra';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ultra-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ultra-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* architects-daughter-regular - latin */
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/architects-daughter-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/architects-daughter-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* special-elite-regular - latin */
@font-face {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/special-elite-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/special-elite-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* yellowtail-regular - latin */
@font-face {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/yellowtail-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/yellowtail-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* notable-regular - latin */
@font-face {
    font-family: 'Notable';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/notable-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/notable-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* knewave-regular - latin */
@font-face {
    font-family: 'Knewave';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/knewave-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/knewave-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* grand-hotel-regular - latin */
@font-face {
    font-family: 'Grand Hotel';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/grand-hotel-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/grand-hotel-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* telex-regular - latin */
@font-face {
    font-family: 'Telex';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/telex-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/telex-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* baloo-regular - latin */
@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/baloo-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/baloo-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* shrikhand-regular - latin */
@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/shrikhand-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/shrikhand-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* berkshire-swash-regular - latin */
@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/berkshire-swash-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/berkshire-swash-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* reem-kufi-regular - latin */
@font-face {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/reem-kufi-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/reem-kufi-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* creepster-regular - latin */
@font-face {
    font-family: 'Creepster';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/creepster-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/creepster-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* limelight-regular - latin */
@font-face {
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/limelight-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/limelight-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* racing-sans-one-regular - latin */
@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/racing-sans-one-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/racing-sans-one-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cutive-regular - latin */
@font-face {
    font-family: 'Cutive';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/cutive-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/cutive-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* shojumaru-regular - latin */
@font-face {
    font-family: 'Shojumaru';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/shojumaru-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/shojumaru-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cambo-regular - latin */
@font-face {
    font-family: 'Cambo';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/cambo-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/cambo-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pattaya-regular - latin */
@font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/pattaya-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/pattaya-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sofia-regular - latin */
@font-face {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/sofia-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/sofia-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oleo-script-swash-caps-regular - latin */
@font-face {
    font-family: 'Oleo Script Swash Caps';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/oleo-script-swash-caps-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/oleo-script-swash-caps-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oleo-script-swash-caps-700 - latin */
@font-face {
    font-family: 'Oleo Script Swash Caps';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/oleo-script-swash-caps-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/oleo-script-swash-caps-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* holtwood-one-sc-regular - latin */
@font-face {
    font-family: 'Holtwood One SC';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/holtwood-one-sc-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/holtwood-one-sc-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* chonburi-regular - latin */
@font-face {
    font-family: 'Chonburi';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/chonburi-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/chonburi-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* coiny-regular - latin */
@font-face {
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/coiny-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/coiny-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nosifer-regular - latin */
@font-face {
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/nosifer-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/nosifer-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* new-rocker-regular - latin */
@font-face {
    font-family: 'New Rocker';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/new-rocker-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/new-rocker-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* sonsie-one-regular - latin */
@font-face {
    font-family: 'Sonsie One';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/sonsie-one-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/sonsie-one-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rum-raisin-regular - latin */
@font-face {
    font-family: 'Rum Raisin';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/rum-raisin-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/rum-raisin-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ribeye-marrow-regular - latin */
@font-face {
    font-family: 'Ribeye Marrow';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/ribeye-marrow-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/ribeye-marrow-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jp, ch */
/* noto-sans-sc-regular - chinese-simplified_japanese_latin */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/jp_ch/noto-sans-sc-v4-chinese-simplified_japanese_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/noto-sans-sc-v4-chinese-simplified_japanese_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-sc-900 - chinese-simplified_japanese_latin */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/jp_ch/noto-sans-sc-v4-chinese-simplified_japanese_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/noto-sans-sc-v4-chinese-simplified_japanese_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* zcool-qingke-huangyou-regular - chinese-simplified_latin */
@font-face {
    font-family: 'ZCOOL QingKe HuangYou';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/jp_ch/zcool-qingke-huangyou-v2-chinese-simplified_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/zcool-qingke-huangyou-v2-chinese-simplified_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-tc-regular - chinese-traditional_japanese_latin */
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/jp_ch/noto-sans-tc-v4-chinese-traditional_japanese_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/noto-sans-tc-v4-chinese-traditional_japanese_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-tc-900 - chinese-traditional_japanese_latin */
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/jp_ch/noto-sans-tc-v4-chinese-traditional_japanese_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/noto-sans-tc-v4-chinese-traditional_japanese_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-jp-regular - latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/jp_ch/noto-sans-jp-v21-japanese_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/noto-sans-jp-v21-japanese_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-jp-900 - latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/jp_ch/noto-sans-jp-v21-japanese_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/noto-sans-jp-v21-japanese_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kosugi-maru-regular - japanese_latin */
@font-face {
    font-family: 'Kosugi Maru';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/jp_ch/kosugi-maru-v3-japanese_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/kosugi-maru-v3-japanese_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* m-plus-1p-500 - japanese_latin */
@font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 400;
    src: local('M PLUS 1p Medium'), local('MPLUS1p-Medium'),
    url('/font/maker/jp_ch/m-plus-1p-v16-japanese_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/m-plus-1p-v16-japanese_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* m-plus-1p-800 - japanese_latin */
@font-face {
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 800;
    src: local('M PLUS 1p ExtraBold'), local('MPLUS1p-ExtraBold'),
    url('/font/maker/jp_ch/m-plus-1p-v16-japanese_latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/maker/jp_ch/m-plus-1p-v16-japanese_latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Taviraj-regular - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  src: url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Taviraj-italic - latin */
@font-face {
    font-family: 'Taviraj';
    font-style: italic;
    font-weight: 400;
    src: url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Taviraj-bold - latin */
@font-face {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 700;
    src: url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Taviraj-bold-italic - latin */
@font-face {
    font-family: 'Taviraj';
    font-style: italic;
    font-weight: 700;
    src: url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/font/maker/other/Taviraj/taviraj-v5-thai_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Lateef';
    font-style: normal;
    font-weight: 400;
    src: url('/font/maker/lateef-v15-arabic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/font/maker/lateef-v15-arabic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 300;
    src: local("NanumSquareRoundL"), /* computer */
    url("/font/creator/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("/font/creator/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/font/creator/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 400;
    src: local("NanumSquareRoundR"), /* computer */
    url("/font/creator/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
    url("/font/creator/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/font/creator/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    src: local("NanumSquareRoundB"), /* computer */
    url("/font/creator/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
    url("/font/creator/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/font/creator/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    src: local("NanumSquareRoundEB"), /* computer */
    url("/font/creator/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
    url("/font/creator/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/font/creator/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
    url("/font/creator/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* maker fonts end */

@font-face {
    font-family: "Mada";
    font-style: normal;
    font-weight: 400;
    src:
    url("/font/CollabAsia/mada-regular-webfont.woff2") format("woff2"),
    url("/font/CollabAsia/mada-regular-webfont.woff") format("woff")
}

@font-face {
    font-family: "Mada";
    font-style: normal;
    font-weight: 600;
    src:
    url("/font/CollabAsia/mada-semibold-webfont.woff2") format("woff2"),
    url("/font/CollabAsia/mada-semibold-webfont.woff") format("woff")
}

@font-face {
    font-family: "Mada";
    font-style: normal;
    font-weight: 700;
    src:
    url("/font/CollabAsia/mada-bold-webfont.woff2") format("woff2"),
    url("/font/CollabAsia/mada-bold-webfont.woff") format("woff")
}

@font-face {
    font-family: "Mada";
    font-style: normal;
    font-weight: 900;
    src:
    url("/font/CollabAsia/mada-black-webfont.woff2") format("woff2"),
    url("/font/CollabAsia/mada-black-webfont.woff") format("woff")
}
