@charset "utf-8";

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: fallback;
  src: local('Pretendard Black'), url('../font/Pretendard/woff2-subset/Pretendard-Black.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: fallback;
  src: local('Pretendard ExtraBold'), url('../font/Pretendard/woff2-subset/Pretendard-ExtraBold.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: fallback;
  src: local('Pretendard Bold'), url('../font/Pretendard/woff2-subset/Pretendard-Bold.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: fallback;
  src: local('Pretendard SemiBold'), url('../font/Pretendard/woff2-subset/Pretendard-SemiBold.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: fallback;
  src: local('Pretendard Medium'), url('../font/Pretendard/woff2-subset/Pretendard-Medium.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: fallback;
  src: local('Pretendard Regular'), url('../font/Pretendard/woff2-subset/Pretendard-Regular.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: fallback;
  src: local('Pretendard Light'), url('../font/Pretendard/woff2-subset/Pretendard-Light.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: fallback;
  src: local('Pretendard ExtraLight'), url('../font/Pretendard/woff2-subset/Pretendard-ExtraLight.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: fallback;
  src: local('Pretendard Thin'), url('../font/Pretendard/woff2-subset/Pretendard-Thin.subset.woff2') format('woff2'), url('../font/Pretendard/woff-subset/Pretendard-Thin.subset.woff') format('woff');
}
