* { padding: 0; margin: 0;}
a { text-decoration: none;}
li { list-style: none;}
input {box-sizing: border-box; vertical-align: middle;}

#join {
    width: 1400px; border: 1px solid red;
    margin: 0 auto;
    text-align: center;

    padding-bottom: 100px;
}

#join > h2 {
    padding-top: 80px;

    font-size: 50px; letter-spacing: -5px;
}

#join > ul > li {
    width: 220px; height: 150px;
    background: cyan;

    display: inline-block;
    vertical-align: middle;

    margin: 80px 50px;
}

/*폼시작*/
#join fieldset {
    width: 1200px;
    margin: 0 auto;
    border: 0;

    background: pink;
    text-align: left;
}
#join fieldset h4 {
    padding: 10px 0;

    color:#333; font-size: 30px;
    letter-spacing: -3px;

    display: inline-block;
    vertical-align: middle;
}
#join fieldset p.check {
    display: inline-block;
    vertical-align: middle;

    height: 60px;
    line-height: 60px;
    background: yellow;

    margin-left: 800px;

    color:#333; font-size: 18px;
    letter-spacing: -1px;
    font-weight: bold;
}

/*라디오버튼 변경 방법*/
/*기존 모양 제거후 아래 CSS로 새롭게 디자인*/

input[type="radio"] {
    appearance: none; 
    /*기존 모양 제거*/

    width: 27px; height: 27px;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/*라디오 버튼 체크 했을때*/
input[type="radio"]:checked {
    background: #333;
    border:8px solid #fff;
    outline: 1px solid #ccc;
}

input[type="checkbox"] {
    display: none;
}
/*체크박스 전 디자인*/
input[type="checkbox"] + label {
    color:#ccc;
    font-size: 25px;
    vertical-align: middle;

    margin-left: 20px;
    margin-left: 5px
}
/*체크박스 후 디자인*/
input[type="checkbox"]:checked + label {
    color:#333;
}


#join fieldset.up ul li {
    float: left;
    padding: 20px;

    box-sizing: border-box;

    color:#333; font-size: 18px;
    font-weight: bold; letter-spacing: -1px;

    border-bottom: 1px solid red;
}

#join fieldset.up ul li:nth-child(1) {
    width: 300px;
    height: 130px;
    background: #ddd;
}
#join fieldset.up ul li:nth-child(2) {
    width: 900px;
    height: 130px;
    background: orange;
}

/*아이디*/
#join fieldset.up ul.t1 li:nth-child(2) input {
    width: 465px; height: 60px;
    border: 1px solid #ddd;
}
#join fieldset ul.t1 li:nth-child(2) p {
    color:#999; padding: 10px;
}

/*비밀번호*/
#join fieldset.up ul.t2 li:nth-child(2) input {
    width: 465px; height: 60px;
    border: 1px solid #ddd;
}
#join fieldset.up ul.t2 li:nth-child(2) p {
    color:#999; padding: 10px;
}

/*비밀번호확인*/
#join fieldset.up ul.t3 li {
    height: 90px;
}
#join fieldset.up ul.t3 li:nth-child(2) {
    padding-top: 15px;
}
#join fieldset.up ul.t3 li:nth-child(2) input {
    width: 465px; height: 60px;
    border: 1px solid #ddd;
}

/*이름*/
#join fieldset.up ul.t4 li {
    height: 90px;
}
#join fieldset.up ul.t4 li:nth-child(2) {
    padding-top: 15px;
}
#join fieldset.up ul.t4 li:nth-child(2) input {
    width: 465px; height: 60px;
    border: 1px solid #ddd;
}

/*주소*/
#join fieldset.up ul.t5 li {
    height: 270px;
}

#join fieldset.up ul.t5 li:nth-child(2) input[type="text"] {
    width: 150px; height: 60px;
    background: #eee;
    border:1px solid #ddd;
}
#join fieldset.up ul.t5 li:nth-child(2) input[type="button"] {
    width: 150px; height: 60px;
    background: #2a2a2a;
    border:0;

    color:#fff; font-size: 18px;
    font-weight: bold; letter-spacing: -1px;

    cursor: pointer;
    margin-left: 5px;
}

#join fieldset.up ul.t5 li:nth-child(2) p.input1 input {
    width: 855px;
    height: 60px;
    margin: 10px 0;
}

#join fieldset.up ul.t5 li:nth-child(2) p.input2 input {
    width: 855px;
    height: 60px;
    background: #fff;
}

#join fieldset.up ul.t5 li:nth-child(2) p.txt {
    color:#999;
    padding: 10px;
}

/*일반전화*/
#join fieldset.up ul.t6 li {
    height: 90px;
}
#join fieldset.up ul.t6 li:nth-child(2) {
    padding-top: 15px;
}
#join fieldset.up ul.t6 li:nth-child(2) select {
    width: 120px; height: 60px;
    border: 1px solid #ddd;

    color:#333; font-size: 22px;
    letter-spacing: -1px;

    padding-left: 10px;
    vertical-align: middle;

}

#join fieldset.up ul.t6 li:nth-child(2) input {
    width: 120px; height: 60px;
    border: 1px solid #ddd;

    color:#333; font-size: 22px;
    letter-spacing: -1px;

    padding-left: 10px;

}

/*휴대전화*/
#join fieldset.up ul.t7 li {
    height: 90px;
}
#join fieldset.up ul.t7 li:nth-child(2) {
    padding-top: 15px;
}
#join fieldset.up ul.t7 li:nth-child(2) select {
    width: 120px; height: 60px;
    border: 1px solid #ddd;

    color:#333; font-size: 22px;
    letter-spacing: -1px;

    padding-left: 10px;
    vertical-align: middle;

}

#join fieldset.up ul.t7 li:nth-child(2) input {
    width: 120px; height: 60px;
    border: 1px solid #ddd;

    color:#333; font-size: 22px;
    letter-spacing: -1px;

    padding-left: 10px;
    

}

/*이메일*/
#join fieldset.up ul.t8 li {
    height: 90px;
}
#join fieldset.up ul.t8 li:nth-child(2) {
    padding-top: 15px;
}
#join fieldset.up ul.t8 li:nth-child(2) input {
    width: 270px; height: 60px;
    border: 1px solid #ddd;
}

/*평생회원*/
#join fieldset.up ul.t9 li {
    height: 160px;
}
/*평생회원*/
#join fieldset.up ul.t9 li pre {
    padding-top: 15px;
    font-family: '맑은 고딕';
    font-weight: normal;

    color:#666; font-size: 14px;
    letter-spacing: -1px;
    line-height: 1.5;
}

/*하단박스*/
#join fieldset.down {
    margin: 30px auto;
    border-top: 3px solid #333;
    border-bottom: 3px solid #ddd;
}

#join fieldset.down ul li {
    width: 1200px; height: 150px;
    background: #eee;
    border: 1px solid #ccc;
    border-top:0;
}
#join fieldset.down ul li:nth-child(1){
    height: 90px; 
    line-height: 90px;

    color:#333; font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
}
#join fieldset.down ul li:nth-child(1) span {
    color:#9d5f6e;
}
